.grid {
    width: 900px;
    height: 500px;
}

.toolbar {
    margin-top: 15px;
    margin-bottom: 15px;
    min-height: 30px;
}

#selectedCountry {
    margin-left: 20px;
}

.loader {
    height: 35px;
    width: 35px;
    background-color: darkgray;
    border: solid darkblue 1px;
    margin-top: 10px;
    margin-left: 300px;
    position: absolute;
    z-index: 1000;
    display: none;
}